* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #a7b1c2;
}

/*! CSS trang */
.container {
  display: flex;
}

/*! CSS sideBar */
.sideBar {
  width: 220px;
  height: 900px;
  background-color: #304151;
  font-weight: 600;
}

.sideBar a {
  text-decoration: none;
}

.logo {
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #293846;
}

.pages {
  height: 644px;
}

.page {
  height: 50px;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  gap: 7px;
  align-items: center;
  text-decoration: none;
}

.page .icon {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 10%);
  width: 30px;
  height: 30px;
}

.page .icon img {
  margin: 6px;
  width: 18px;
  height: 18px;
  object-fit: contain;
  /* Giữ nguyên tỉ lệ, không bị méo */
}

.signOut {
  margin-top: 50px;
  padding: 10px 20px;
  display: flex;
  gap: 7px;
  align-items: center;
  background-color: #12896d;
  cursor: pointer;
}

.signOut .textSignOut {
  color: #ffffff;
}

/*! style page đang chọn*/
.pages .pageSelect {
  background-color: #293846;
}

.pages .pageSelect .icon {
  background-color: #1ab394;
}

.pages .pageSelect .icon img {
  filter: brightness(0) invert(1);
  /* Chuyển ảnh thành màu trắng */
}

.pages .pageSelect .textPage {
  color: #ffffff;
}

/*! header */
.header-content {
  width: calc(100% - 220px);
  background-color: #f3f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content header {
  height: 167px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  background-color: #ffffff;
}

.header-content .firstHeader {
  display: flex;
  padding: 21px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}

.header-content .firstHeader .info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.secondHeader {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  box-shadow: 0 2px 2px rgba(144, 144, 144, 0.14);
}

.secondHeader h2 {
  font-size: 24px;
  font-weight: lighter;
  color: #676a6c;
}

/*! Nội dung (tiêu đề và tìm kiếm) */
.containerRecipeDetail {
  margin: 25px 15px;
  display: flex;
  gap: 30px;
}

.infoLeft {
  background-color: #FFFFFF;
  padding: 30px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  border-radius: 5px;
  width: 275px;
  /* margin-bottom: 10px; */
}


.firstMenu {
  display: flex;
  gap: 9px;
  margin-bottom: 210px;
}

.recipeMenu {
  display: flex;
  gap: 60px;
  align-items: center;
}



.myRecipes {
  display: flex;
  gap: 7.64px;
  padding: 7.25px 10px;
  border-radius: 6px;
  box-shadow: 0px 1px 3px #DDDDDD;
}

.myRecipes div {
  color: #2BA0CC;
  font-weight: bold;
  font-size: 11px;
}

.recipeLike {
  height: 28px;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 7px 7px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.recipeLike div {
  color: #aaaaaa;
  font-size: 11px;
}

.addImgRecipe {
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.addImgRecipe .textAddImg {
  display: block;
}

.addImgRecipe .inputLinkImg {
  display: none;
}

.addImgRecipe .inputLinkImg input {
  border-radius: 3px;
  height: 27px;
  border: 1px solid #F3F3F4;
  padding: 0px 7px;
  color: #676A6C;
}

.addImgRecipe .imgRecipe img {
  display: none;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px;
  max-height: 150px;
  object-fit: cover;
}


.containerCategory {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chooseCategory {
  display: flex !important;
  align-items: center;
  width: 100%;
}

.chooseCategory #chooseCategory {
  width: 100%;
  height: 100%;
  border: none;
  color: #676A6C;
}

.chooseCategory #chooseCategory:focus {
  outline: none;
}


.categoryRecipe {
  height: 27px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #F3F3F4;
  padding-left: 7px;
}

.categoryRecipe input {
  border: none;
  height: 100%;
  padding: 7px 8px;
  color: #676A6C;
}

.categoryRecipe input:focus {
  outline: none;
  border: none;
}

.infoRight {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.publicRecipe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(144, 144, 144, 0.14);
  padding: 20px;
}

.publicRecipe .pubicRecipeTitle h2 {
  font-size: 20px;
  color: #676A6C;
}

.publicRecipe .pubicRecipeTitle p {
  font-size: 12px;
  color: #888888;
}

.publicRecipe .btnPublish {
  padding: 7.5px 13px;
  background-color: #1AB394;
  border-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.recipeInfo {
  background-color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(144, 144, 144, 0.14);
  padding: 20px;
  border-radius: 5px;
}

.recipeInfo .recipeTitle {
  margin-bottom: 22px;
}

.recipeInfo .recipeTitle h2 {
  font-size: 22px;
  font-weight: normal;
  color: #676a6c;
}

.recipeInfo .recipeTitle p {
  font-size: 12px;
  color: #888888;
}

.recipeInfo .infoCol {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.recipeInfo .infoRow {
  display: flex;
  align-items: center;
}

.recipeInfo .infoRow .iconEdit {
  width: 39px;
  height: 39.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EEEEEE;
  border-left: 1px solid #ffffff;
  background-color: #FAFAFB;
}

.recipeInfo .infoRow .infoName {
  width: 200px;
  height: 39.5px;
  border: 1px solid #eeeeee;
  background-color: #fafafb;
  padding-left: 11px;
  font-size: 14.3px;
  color: #676a6c;
  display: flex;
  align-items: center;
}

.recipeInfo .infoRow .infoValue input {
  height: 39.5px;
  width: 645px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 10px;
  color: #676a6c;
  border-left: 1px solid #ffffff;
}

.recipeInfo .infoRow .infoName.description {
  height: 58px;
}

.recipeInfo .infoRow .infoValue.description input {
  height: 58px;
  width: 645px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: #676a6c;
  border: 1px solid #eeeeee;
  border-left: 1px solid #ffffff;
}

.recipeInfo .infoRow .iconEdit.description {
  height: 58px;
}

.creation {
  width: 1170px;
  height: 61px;
  background-color: #1ab394;
  margin: 0px 15px;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 25px;
}

.creation div:first-child {
  color: #ffffff;
  font-size: 17px;
}

.creation div:last-child {
  color: #ffffff;
  font-size: 11px;
}

/* CSS title chung */
.recipeDetail .recipeDetailsTitle {
  margin-bottom: 15px;
}

.recipeDetail .recipeDetailsTitle h2 {
  font-size: 20px;
  color: #676a6c;
  font-weight: normal;
}

.recipeDetail .recipeDetailsTitle p {
  font-size: 12px;
  color: #888888;
  font-weight: lighter;
}

.recipeDetail .recipeDetailCard {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 2px 0 rgba(144, 144, 144, 0.14);
  border-radius: 5px;
}

.recipeDetail {
  display: flex;
  gap: 30px;
  padding: 0px 15px;
}

.recipeDetail .ingredientCookingMethod .ingredientList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.recipeDetail .ingredientCookingMethod .ingredientList .ingredientCard {
  display: flex;
}

.recipeDetail .ingredientCookingMethod .ingredientList .ingredientValue {
  display: flex;
  flex-direction: column;
}

.ingredientCookingMethod .ingredientList .list {
  width: 703.33px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
  color: #585858;
  border: 1px solid #EEEEEE;
}

.ingredientList .ingredientCard .removeFood {
  width: 39px;
  /* height: 80px; */
  background-color: #FAFAFB;
  border: 1px solid #EEEEEE;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ingredient .newIngredient {
  width: 743.33px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #FAFAFB;
}

.newIngredient .newIngredientTitle {
  display: flex;
  border: 1px solid #EEEEEE;
}

.newIngredient .newIngredientTitle .img {
  height: 40px;
  width: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F3F4;
  cursor: pointer;
}

.newIngredient .newIngredientTitle div:nth-child(2) {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: #ffffff;
}

.newIngredient .searchIngredient {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.newIngredient .searchIngredient input {
  width: 200px;
  height: 34px;
  border: 1px solid #EEEEEE;
  background-color: #ffffff;
  padding: 8px 13px;
  color: #676A6C;
}

.newIngredient .searchIngredient input::placeholder {}

.newIngredient .searchIngredient #searchFood {
  width: 256px;
}

.newIngredient .searchIngredient .sortNutrient {
  display: flex;
}

.newIngredient .searchIngredient .sortNutrient #inputNutrient {
  width: 200px;
  border: 1px solid #EEEEEE;
  padding-left: 12px;
  color: #999999;
}


.newIngredient .searchIngredient .sortNutrient div {
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EEEEEE;
  cursor: pointer;
}

.foodInfo {
  padding: 0px 16px;
  width: 100%;
}

.foodInfo .foodInfoHeader {
  display: flex;
  height: 53.5px;
}

.foodInfo .foodInfoHeader .text {
  min-width: 411.33px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #282828;
  border: 1px solid #EEEEEE;
  background-color: #ffffff;
}

.foodInfo .foodInfoHeader .foodNutrition {
  display: flex;
}

.foodInfo .foodInfoHeader .foodNutrition div {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFB;
  border: 1px solid #EEEEEE;
  color: #282828;
}

.foodInfo .foodInfoHeader .foodNutrition .last {
  width: 38px;
  background-color: #FFFFFF;
}

.foodInfo .foodValue {
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  height: 101.05px;
}

.foodInfo .foodValueChoose {
  background-color: #FAFAFB;
  border: 1px solid #DDDDDD;
}

.foodValue .foodValueTitle {
  width: 411.33px;
  padding: 10px 21px;
}

.foodValueTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.foodValue .foodValueTitle h3 {
  font-size: 15px;
  color: #282828;
  font-weight: normal;
}

.foodValue .foodValueTitle p {
  font-size: 11.7px;
  color: #282828;
  font-weight: lighter;
  margin-bottom: 10px;
}

.foodValue .foodValueTitle .foodQuantitative {
  display: flex;
}

.foodValueTitle .foodQuantitative .foodQuantity {
  width: 60px;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  padding-left: 12px;
  display: flex;
  align-items: center;
  color: #282828;
  font-size: 12.4px;
}

.foodValueTitle .foodQuantitative .foodPortion {
  width: 240.33px;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  padding-left: 12px;
  display: flex;
  align-items: center;
  color: #282828;
  font-size: 12.4px;
}

.foodValueTitle .foodQuantitative .foodWeight {
  width: 65px;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282828;
  font-size: 12.4px;
}

.foodValue .foodNutrition {
  display: flex;
  height: 100%;
}

.foodValue .foodNutrition div {
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282828;
}

.foodValue .foodNutrition div span {
  color: #282828;
}

.foodValue .addFood {
  display: none;
}

.foodValueChoose .addFood {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1AB394;
  cursor: pointer;
}

.foodValueChoose .addFood i {
  color: #ffffff;
}

/*! Nav Food */
.paginationFood {
  margin-top: 15px;
  display: flex;
  justify-content: end;
}

.paginationFood .pagination {
  display: flex;
}

.paginationFood .pagination div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DDDDDD;
  cursor: pointer;
}

.paginationFood .pagination .active {
  background-color: #F4F4F4;
}

.pagination .backPage,
.pagination .nextPage {
  width: 35px;
}

/*! CookingMethod */
.ingredientCookingMethod {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.ingredientCookingMethod .cookingMethod .stepCook {
  display: flex;
}

.ingredientCookingMethod .cookingMethod .stepCook .stepNumber {
  width: 40px;
  height: 40px;
  background-color: #fafafb;
  border: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #676a6c;
  font-size: 14.3px;
  font-weight: bold;
}

.cookingMethod .stepCook .stepValue input {
  width: 663.33px;
  height: 40px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  color: #888888;
  border: 1px solid #EEEEEE;
}

.cookingMethod .stepCook .iconEdit {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFB;
}

/*! nutrient */
.nutrient {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 360px;
}

.global .energyGroup {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 6px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 25px;
}

.global .energyGroup .energy {
  color: #676a6c;
}

.global .energyGroup .kcalInfo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.global .energyGroup .kcalValue {
  font-size: 14px;
  color: #676a6c;
  font-weight: 550;
}

.global .energyGroup .kcal {
  color: #888888;
  font-size: 11px;
}

.globalCircle {
  display: flex;
  justify-content: space-between;
}

.globalItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.globalCircle .circle {
  width: 72.2px;
  height: 72.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 100%;
}

.globalCircle .globalItem .red {
  border: 6px solid #db4965;
}

.globalCircle .globalItem .orange {
  border: 6px solid #ea9f77;
}

.globalCircle .globalItem .green {
  border: 6px solid #1ab394;
}

.globalCircle .globalItem .blue {
  border: 6px solid #6a7d93;
}

.globalCircle .circleValue {
  font-size: 16px;
  color: #676a6c;
}

.globalCircle .circleValue span {
  font-size: 16px;
  color: #676a6c;
}

.globalCircle .globalItem p {
  color: #888888;
}

.macronutrients .chartAnnotation {
  display: flex;
  gap: 20px;
}

.macronutrients .chartAnnotation {
  display: flex;
  justify-content: center;
}

.macronutrients .chartAnnotation .tableRow {
  display: flex;
  gap: 6px;
  align-items: center;
}

.macronutrients .boxColor {
  width: 10px;
  height: 10px;
}

.macronutrients .chartAnnotation .red {
  background-color: #db4965;
}

.macronutrients .chartAnnotation .orange {
  background-color: #ea9f77;
}

.macronutrients .chartAnnotation .green {
  background-color: #1ab394;
}

.globalCircle .globalItem .zeroValue {
  border: 6px solid #F3F3F4 !important;
}

.macronutrients .chartAnnotation p {
  color: #000000;
  font-size: 12px;
}

.macronutrients #addRecipeChart {
  display: none;
}

.micronutrient {
  margin-bottom: 50px;
}

.micronutrient .nutrientItem {
  display: flex;
  justify-content: space-between;
  height: 28px;
}

.micronutrient .nutrientItem:nth-child(odd) {
  background-color: #fafafb;
}

.micronutrient .nutrientName {
  color: #717171;
}

.micronutrient .nutrientValue {
  color: #717171;
  font-weight: bold;
}

.micronutrient .nutrientValue span {
  font-weight: normal;
  color: #717171;
}

/* Hiệu ứng chuyển đổi khi thu gọn */
.sideBar,
.header-content,
.logo,
.page,
.signOut {
  transition: all 0.3s ease;
}

/* Style khi sidebar thu gọn */
.sideBar.collapsed {
  width: 60px;
}

.sideBar.collapsed .page,
.sideBar.collapsed .signOut {
  padding: 10px;
  justify-content: center;
}

.sideBar.collapsed .logo {
  justify-content: center;
  padding: 0;
}

/* Mở rộng nội dung khi sidebar thu gọn */
.header-content.expanded {
  width: calc(100% - 60px);
}

/* Style cho logo */
.logoFull,
.logoIcon {
  transition: all 0.3s ease;
}

.logoIcon {
  display: none;
  /* Ẩn logo icon ban đầu */
}

/* Hiển thị logo icon khi sidebar thu gọn */
.sideBar.collapsed .logoIcon {
  display: block;
  width: 40px;
  height: 40px;
}

/* Ẩn logo đầy đủ khi sidebar thu gọn */
.sideBar.collapsed .logoFull {
  display: none;
}

/* Ẩn text khi sidebar thu gọn */
.sideBar.collapsed .textPage,
.sideBar.collapsed .textSignOut {
  display: none;
}