* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: rgb(167, 177, 194);
}

.container {
  display: flex;
}

.sideBar {
  width: 220px;
  height: 900px;
  background-color: rgb(48, 65, 81);
  font-weight: 600;
}

.sideBar a {
  text-decoration: none;
}

.logo {
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 56, 70);
}

.pages {
  height: 644px;
}

.page {
  height: 50px;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  gap: 7px;
  align-items: center;
  text-decoration: none;
}

.page .icon {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
}

.page .icon img {
  margin: 6px;
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.signOut {
  margin-top: 50px;
  padding: 10px 20px;
  display: flex;
  gap: 7px;
  align-items: center;
  background-color: rgb(18, 137, 109);
  cursor: pointer;
}

.signOut .textSignOut {
  color: rgb(255, 255, 255);
}

.pages .pageSelect {
  background-color: rgb(41, 56, 70);
}

.pages .pageSelect .icon {
  background-color: rgb(26, 179, 148);
}

.pages .pageSelect .icon img {
  filter: brightness(0) invert(1);
}

.pages .pageSelect .textPage {
  color: rgb(255, 255, 255);
}

.header-content {
  width: calc(100% - 220px);
  background-color: rgb(243, 243, 244);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content header {
  height: 167px;
  width: 100%;
  border-bottom: 1px solid rgb(235, 235, 235);
  background-color: rgb(255, 255, 255);
}

.header-content .firstHeader {
  display: flex;
  padding: 21px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.header-content .firstHeader .info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.secondHeader {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  box-shadow: rgba(144, 144, 144, 0.14) 0px 2px 2px;
}

.secondHeader h2 {
  font-size: 24px;
  font-weight: lighter;
  color: rgb(103, 106, 108);
}

.containerRecipeDetail {
  margin: 25px 15px;
  display: flex;
  gap: 30px;
}

.infoLeft {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.recipeMenu {
  width: 275px;
  height: 327px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: rgba(144, 144, 144, 0.14) 0px 2px 2px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.firstMenu {
  display: flex;
  justify-content: space-between;
}

.communityRecipes {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 7px 10px;
  box-shadow: rgb(221, 221, 221) 0px 1px 3px 0px;
  border-radius: 6px;
}

.communityRecipes .communityRecipe {
  color: rgb(234, 159, 119);
  font-weight: bold;
  font-size: 11px;
}

.communityRecipes .myRecipes {
  color: rgb(43, 160, 204);
  font-weight: bold;
  font-size: 11px;
}

.recipeLike {
  height: 28px;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 7px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
}

.recipeLike div {
  color: rgb(170, 170, 170);
  font-size: 11px;
}

.recipePicture {}

.recipePicture img {
  width: 100%;
  margin: 10px 0px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.categoryRecipe {
  display: inline-flex;
  align-items: center;
  gap: 3px;
  padding: 7px;
  border: 1px solid rgb(243, 243, 244);
  width: auto;
  border-radius: 3px;
}

.categoryRecipe span {
  font-size: 11px;
  color: rgb(103, 106, 108);
}

.addFavorite {
  width: 143px;
  height: 32px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0px 13px;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  border: 1px solid rgb(238, 238, 238);
  cursor: pointer;
}

.addFavorite div {
  color: rgb(103, 106, 108);
  font-size: 12px;
  font-weight: bold;
}

.recipeInfo {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(144, 144, 144, 0.14) 0px 2px 2px 0px;
  padding: 20px;
  border-radius: 5px;
}

.recipeInfo .recipeTitle {
  margin-bottom: 22px;
}

.recipeInfo .recipeTitle h2 {
  font-size: 22px;
  font-weight: normal;
  color: rgb(103, 106, 108);
}

.recipeInfo .recipeTitle p {
  font-size: 12px;
  color: rgb(136, 136, 136);
}

.recipeInfo .infoCol {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.recipeInfo .infoRow {
  display: flex;
}

.recipeInfo .infoRow .infoName {
  width: 200px;
  height: 41.5px;
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(250, 250, 251);
  padding-left: 11px;
  font-size: 14.3px;
  color: rgb(103, 106, 108);
  display: flex;
  align-items: center;
}

.recipeInfo .infoRow .infoValue input {
  height: 41.5px;
  width: 645px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(238, 238, 238) rgb(255, 255, 255);
  border-image: initial;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 10px;
  color: rgb(103, 106, 108);
}

.recipeInfo .infoRow .infoName.description {
  height: 61px;
}

.recipeInfo .infoRow .infoValue.description {
  width: 645px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: rgb(103, 106, 108);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(238, 238, 238) rgb(255, 255, 255);
  border-image: initial;
}

.creation {
  width: 1170px;
  height: 61px;
  background-color: rgb(26, 179, 148);
  margin: 0px 15px 25px;
  border-radius: 5px;
  padding: 15px;
}

.creation div:first-child {
  color: rgb(255, 255, 255);
  font-size: 17px;
}

.creation div:last-child {
  color: rgb(255, 255, 255);
  font-size: 11px;
}

.recipeDetail .recipeDetailsTitle {
  margin-bottom: 15px;
}

.recipeDetail .recipeDetailsTitle h2 {
  font-size: 20px;
  color: rgb(103, 106, 108);
  font-weight: normal;
}

.recipeDetail .recipeDetailsTitle p {
  font-size: 12px;
  color: rgb(136, 136, 136);
  font-weight: lighter;
}

.recipeDetail .recipeDetailCard {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: rgba(144, 144, 144, 0.14) 0px 2px 2px 0px;
  border-radius: 5px;
}

.recipeDetail {
  display: flex;
  gap: 30px;
  padding: 0px 15px;
}

.ingredientCookingMethod {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.ingredientCookingMethod .ingredient {
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.ingredientCookingMethod .ingredientValue {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ingredientCookingMethod .ingredientValue div {
  width: 742.33px;
  height: 40.5px;
  display: flex;
  align-items: center;
  padding-left: 11px;
  color: rgb(88, 88, 88);
  font-weight: bold;
  border: 1px solid rgb(238, 238, 238);
}

.ingredientCookingMethod .cookingMethod .stepCook {
  display: flex;
}

.ingredientCookingMethod .cookingMethod .stepCook .stepNumber {
  width: 40px;
  background-color: rgb(250, 250, 251);
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(103, 106, 108);
  font-size: 14.3px;
  font-weight: bold;
}

.ingredientCookingMethod .cookingMethod .stepCook .stepValue {
  width: 703.33px;
  padding: 11px 10px;
  color: rgb(103, 106, 108);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(238, 238, 238) rgb(255, 255, 255);
  border-image: initial;
  line-height: 19.5px;
}

.nutrient {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 360px;
}

.global .energyGroup {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 6px;
  border-bottom: 1px solid rgb(238, 238, 238);
  margin-bottom: 25px;
}

.global .energyGroup .energy {
  color: rgb(103, 106, 108);
}

.global .energyGroup .kcalInfo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.global .energyGroup .kcalValue {
  font-size: 14px;
  color: rgb(103, 106, 108);
  font-weight: 550;
}

.global .energyGroup .kcal {
  color: rgb(136, 136, 136);
  font-size: 11px;
}

.globalCircle {
  display: flex;
  justify-content: space-between;
}

.globalItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.globalCircle .circle {
  width: 72.2px;
  height: 72.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 100%;
}

.globalCircle .globalItem .red {
  border: 6px solid rgb(219, 73, 101);
}

.globalCircle .globalItem .orange {
  border: 6px solid rgb(234, 159, 119);
}

.globalCircle .globalItem .green {
  border: 6px solid rgb(26, 179, 148);
}

.globalCircle .globalItem .blue {
  border: 6px solid rgb(106, 125, 147);
}

.globalCircle .globalItem .zeroValue {
  border: 6px solid rgb(243, 243, 244) !important;
}

.globalCircle .circleValue {
  font-size: 16px;
  color: rgb(103, 106, 108);
}

.globalCircle .circleValue span {
  font-size: 16px;
  color: rgb(103, 106, 108);
}

.globalCircle .globalItem p {
  color: rgb(136, 136, 136);
}

.micronutrient .nutrientItem {
  display: flex;
  justify-content: space-between;
  height: 28px;
}

.micronutrient .nutrientItem:nth-child(2n+1) {
  background-color: rgb(250, 250, 251);
}

.micronutrient .nutrientName {
  color: rgb(113, 113, 113);
}

.micronutrient .nutrientValue {
  color: rgb(113, 113, 113);
  font-weight: bold;
}

.micronutrient .nutrientValue span {
  font-weight: normal;
  color: rgb(113, 113, 113);
}

.sideBar,
.header-content,
.logo,
.page,
.signOut {
  transition: 0.3s;
}

.sideBar.collapsed {
  width: 60px;
}

.sideBar.collapsed .page,
.sideBar.collapsed .signOut {
  padding: 10px;
  justify-content: center;
}

.sideBar.collapsed .logo {
  justify-content: center;
  padding: 0px;
}

.header-content.expanded {
  width: calc(100% - 60px);
}

.logoFull,
.logoIcon {
  transition: 0.3s;
}

.logoIcon {
  display: none;
}

.sideBar.collapsed .logoIcon {
  display: block;
  width: 40px;
  height: 40px;
}

.sideBar.collapsed .logoFull {
  display: none;
}

.sideBar.collapsed .textPage,
.sideBar.collapsed .textSignOut {
  display: none;
}