body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background-color: #eaeaea;
  color: #231751;
}
.btn-red {
  background-color: rgb(201, 0, 0);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px;
  margin-right: 10px;
}
.btn-white {
  border: 1px solid black;
  border-radius: 4px;
  color: #231751;
  padding: 10px;
}
