* {
  font-family: Arial, Helvetica, sans-serif;
  color: #303030;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.post-container {
  width: 418px;
  position: relative;
}

.post-container img {
  width: 100%;
}
.post-container h2 {
  text-transform: uppercase;
  border-left: 5px solid orange;
  padding-left: 5px;
  margin-bottom: 10px;
}
.post-container .post-title a {
  font-size: 29px;
  text-decoration: none;
  color: whitesmoke;
}
.post-container .post-title {
  padding: 0px 20px;
  height: 136px;
  position: absolute;
  top: 450px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 83%
  );
}
.bottom {
  padding: 20px;
  border-bottom: 0.1px solid black;
}
.post-container li a {
  text-decoration: none;
  font-weight: bold;
}
