body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 2px gray;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
}
th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}
th {
  background-color: #3276ff;
  color: white;
}

.first {
  background-color: #f4f4f4;
}
.second {
  background-color: white;
}
