.container {
  width: 830px;
  height: 156px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  /* align-content: space-between; */
  justify-content: space-between;
}
.container .box {
  margin: 5px;
  background-color: #800080;
  padding: 20px 60px;
  border-radius: 5px;
  color: white;
}
