* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
.container {
  margin: 100px;
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: hsl(220deg 33.33% 98.24%);
  padding: 4px;
}
.container-img {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1546519638-68e109498ffc?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFza2V0JTIwYmFsbHxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
  border-radius: 10px;
  height: 250px;
}
button {
  margin-top: 10px;
  margin-right: 10px;
  height: 35px;
  padding: 5px 10px;
  background-color: hsl(0deg 0% 0%);
  color: aliceblue;
  border: 1px solid aliceblue;
  border-radius: 5px;
}

.avatar {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 100%;
}
.avatars {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.avatars p {
  margin-top: 25px;
}
.date-text {
  color: rgb(160, 156, 156);
}
